@font-face {
    font-family: 'Jura';
    src: local('fonts/Jura-Regular.ttf');
}

.title {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 48px;
}

h3 {
  font-family: 'Jura', monospace;
}

p {
  font-family: 'Jura', monospace;
}

.back {
  font-family: 'Jura', monospace;
  text-decoration: none;
}

a {
  font-family: 'Jura', monospace;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.data-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.center {
  display: table;
  margin: 0 auto 0 auto;
}
